<div class="container">
  <div class="row">
    <div class="col-md-10">
      {{#each articles}}
        <div class="card my-2">
          <div class="row">
            <div class="col-md-2">
              <img src="{{image}}" class="card-img m-2">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <a href="{{link}}" target="_blank"><h5 class="card-title">{{title}}</h5></a>
                <hr>
                <div class="d-flex">
                  <p class="card-text flex-grow-1">{{description}}</p>
                  <button id="{{_id}}"type="button" class="btn btn-info">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-md-2">
        <p><button type="button" class="btn btn-primary w-100">Saved Articles</button></p>
        <p><button id="scrape" type="button" class="btn btn-success w-100">Scrap more</button></p>
        <p><button type="button" class="btn btn-warning w-100">Clear scrapped</button></p>
    </div>
  </div>
</div>
<script src="assets/js/index.js"></script>