<div class="card my-2">
	<div class="row">
		<div class="col-md-2">
			<img src="{{image}}" class="card-img m-2">
		</div>
		<div class="col-md-10">
			<div class="card-body">
				<a href="{{link}}" target="_blank"><h5 class="card-title">{{title}}</h5></a>
				<hr>
				<div class="d-flex">
					<p class="card-text flex-grow-1">{{description}}</p>
					{{#if saved}}
						<button data-id="{{_id}}" type="button" class="btn btn-danger">Remove</button>
						<button data-id="{{_id}}" type="button" class="btn btn-info">Notes</button>
						<button data-id="{{_id}}" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
							Notes
						</button>


					{{else}}
						<button data-id="{{_id}}" type="button" class="btn btn-success">Save</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>